{% extends "classcoll/layout.html" %}
{% load static %}

{% block body %}
    <div class="bg-light my-background">
        <div>
            <button class="btn btn-info" id="showPieces">All pieces</button>
            <button class="btn btn-info" id="showForm">Upload</button>
        </div>
        <br>
        <div id="forms" style="display: none;">
            <h4 style="color: blue;">Upload</h4>
            <form method="POST", enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label>Name of the piece</label>
                    <input required class="form-control" type="text" name="name">
                </div>
                <div class="form-group">
                    <label>Composers</label>
                    <input required type="text" class="form-control" name="composer">
                    <p style="color: red;">{{message}}</p>
                </div>
                <div class="form-floating">
                    <label>Short description</label>
                    <textarea required class="form-control" name="description" rows="3">
                    </textarea>
                </div>
                <br>
                <div class="form-group">
                    <label>Select Period:</label>
                    <select class="btn-light" name="period">
                        {% for period in periods %}
                            <option value="{{period.era}}">{{period.era}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>Select Level of Difficulty:</label>
                    <select class="btn-light" name="difficulty">
                        {% for level in difficulty %}
                            <option value="{{level.rating}}">{{level.rating}}</option>
                        {% endfor %}
                    </select>
                </div>
                <br>
                <div>
                    <input required type="file" name="document" accept=".mp3">
                </div>
                <br>
                <button class="btn btn-success" type="submit">Upload</button>
            </form>
        </div>
        <div id="pieces">
            <form method="GET" action="{% url 'all_piece' %}" id="filterForm">
                {% csrf_token %}
                <div class="form-group">
                    <h4>Search for a work:</h4>
                    <input class="form-control" type="text" name="key" placeholder="Enter a keyword and press Enter!">
                </div>
                <div class="form-group">
                    <label>Filter by Period:</label>
                    <select class="form-select form-select-lg" name="period">
                        <option value="All" selected>All</option>
                        {% for period in periods %}
                            <option value="{{period.era}}">{{period.era}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>Filter by Level of Difficulty:</label>
                    <select class="form-select form-select-lg" name="difficulty">
                        <option value="All" selected>All</option>
                        {% for level in difficulty %}
                            <option value="{{level.rating}}">{{level.rating}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-success">Search</button>
            </form>
            <br>
            <h4>All available results:</h4>
            {% for piece in pieces %}
                <div class="solid-border" style="padding: 10px;">
                    <h5><a href="{% url 'piece' piece.name %}">{{piece.name}}</a>, 
                        composed by <a href="{% url 'composer' piece.composer.name %}">{{piece.composer.name}}</a></h5>
                    <audio controls>
                        <source src="/upload/{{piece.source}}" type="audio/mpeg">
                        Your browser must be able to support mp3/mpeg type of files
                    </audio>
                </div>
            {% endfor %}

            {% include 'classcoll/pagination.html' with list=pieces %}
        </div>
        
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'classcoll/js/all_pieces.js' %}"></script>
{% endblock %}