{% extends "classcoll/layout.html" %}
{% load static %}

{% block body %}
    <div class="bg-light my-background">
        <div>
            <button id="showComposers" class="btn btn-info">Composers</button>
            <button id="showForm" class="btn btn-info">Add</button>
        </div>
        <br>
        <div id="composerForm" style="display: none;">
            <h4>Add a new Composer</h4>
            <form method="POST" action="{% url 'all_composer'%}">
                {% csrf_token %}
                <div class="form-group">
                    <label>Composer Name:</label>
                    <input class="form-control" type="text" name="name" required>
                    <p style="color: red;">{{message}}</p>
                </div>
                <div class="form-floating">
                    <label>Composer Description:</label>
                    <textarea required class="form-control" name="biography" rows="5"></textarea>
                </div>
                <div>
                    <label>Image URL</label>
                    <input required class="form-control" type="text" name="document">
                    <br>
                    <button type="submit" class="btn btn-primary">Post Information</button>
                </div>
                <p>
                    Note that information you submitted will be subjected
                    to moderations and filtering of suspected repetition.
                </p>
            </form>
        </div>

        <div id="allComposers">
            <form method="GET" action="{% url 'all_composer' %}" id="filterForm">
                {% csrf_token %}
                <div class="form-group">
                    <h4>Search</h4>
                    <input class="form-control" type="text" name="key">
                    <br>
                    <input class="btn btn-success" type="submit">
                </div>
            </form>
            <br>
            {% for composer in composers %}
                <div class="text-center" style="border: 1px solid black;">
                    <div>
                        <h4><a href="{% url 'composer' composer.name %}">{{ composer.name }}</a></h4>
                    </div>
                </div>
            {% endfor %}

            {% include 'classcoll/pagination.html' with list=composers %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'classcoll/js/all_composers.js' %}"></script>
{% endblock %}