{% extends 'classcoll/layout.html' %}
{% load static %}

{% block body %}
    <div class="bg-light my-background">
        <h2>{{composer.name}}<h2>
        <div>
            <div><img src="{{composer.image}}" width="200"></div>
            <br>
        </div>
        {% if user.is_authenticated %}
            <button data-value="{{composer.id}}" id="favoriteComposer" class="btn btn-info bi bi-star-fill">
                {% if composer in favorite %}
                    Remove from Favorite
                {% else %}
                    Add to Favorite
                {% endif %}
            </button>
        {% endif %}
        <button id="showPieces" class="btn btn-info">Compositions</button>
        <button id="showBiography" class="btn btn-info">Biography</button>
        <br>
        <hr>
        <div id="biography" style="display: none;">
            <h4>Biography</h4>
            <p style="font-size: 16px; font-weight: 400;">{{composer.biography}}</p>
        </div>
        <div class="bg-light" id="allPieces">
            <h4>Works composed by {{ composer.name }}</h4>
            {% for piece in pieces %}
                <div>
                    <a style="font-size: 18px;" href="{% url 'piece' piece.name %}">
                        {{ piece.name }}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'classcoll/js/composer.js' %}"></script>
{% endblock %}