{% extends "classcoll/layout.html" %}
{% load static %}

{% block body %}
    <div class="bg-light" style="opacity: 0.8; padding: 10px;">
        <br>
        <div class="dropdown">
            <button class="btn btn-success dropdown-toggle" type="button" id="sortBy" data-bs-toggle="dropdown" aria-expanded="false">
                Select a Difficulty
            </button>
            <ul class="dropdown-menu" aria-labelledby="sortBy">
                {% for difficulty in difficulties %}
                    <li><a class="dropdown-item" href="{% url 'difficulty' difficulty.rating %}">{{difficulty.rating}}</a></li>
                {% endfor %}
            </ul>
        </div>
        <br>
        <br>
        <h3>{{ target.rating }}</h3>
        <div>
            <p>{{target.description}}</p>
        </div>
    </div>
{% endblock %}