{% extends 'classcoll/layout.html' %}
{% load static %}

{% block body %}
    <div class="bg-light" style="opacity: 0.85;">
        <div style="padding: 10px;">
            <h4> User {{ user.username }} Favorite: </h4>
        </div>
        <div style="padding: 10px;">
            <button id="btnPiece" class="btn btn-primary">Pieces</button>
            <button id="btnComposer" class="btn btn-success">Composers</button>
        </div>

        <div id="piece" style="display: none; padding: 10px;">
            {% for piece in pieces %}
                <div>
                    <a href="{% url 'piece' piece.name%}">{{piece.name}} by {{piece.composer.name}}</a>
                </div>
            {% endfor %}
        </div>

        <div id="composer" style="padding: 10px;">
            {% for composer in composers %}
                <div>
                    <a href="{% url 'composer' composer.name%}">{{composer.name}}</a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'classcoll/js/favorite.js' %}"></script>
{% endblock %}