{% extends "classcoll/layout.html" %}
{% load static %}

{% block body %}
    <div class="bg-light my-background">
        <div style="padding: 10px;">
            <h4>About:</h4>
            <p>
                Classical Collection is a web database of classical music 
                and an MP3 player for you to enjoy classical music works.
                It's like Spotify, but it's free :)
            </p>
            <p>
                Credit to Background Image: Frederick the Great Playing the Flute at Sanssouci
                by German painter Adolph Menzel (on 1852)
            </p>
        </div>
        <hr>
        <div style="padding: 10px;">
            <h3>Composer of the day:</h3>
            <h4>{{composer.name}}<h4>
            <div>
                <div><img src="{{composer.image}}" width="200"></div>
                <br>
            </div>
            <div id="biography">
                <p style="font-size: 16px; font-weight: 400;">{{composer.biography}}</p>
            </div>
        </div>
        <hr>
        <div style="padding: 10px;">
            <h3>Composition of the day:</h3>
            <h4>{{piece.name}}<h4>
            <h5>{{piece.composer.name}}</h5>
            <audio controls>
                <source src="/upload/{{piece.source}}" type="audio/mpeg">
            </audio>
            <p>{{piece.description}}</p>
            <br>
            <p>Musical period: {{ piece.period.era }}</p>
            <p>Difficulty level (if applicable): {{ piece.difficulty.rating }}</p>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'classcoll/js/audiocontrol.js' %}"></script>
{% endblock %}