{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Classical Collection{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="" rel="stylesheet">
        {% block script %}
        {% endblock %}
    </head>
    <body>
      <div class="row" style="margin: 5px;
        background: url({% static 'classcoll/images/background.jpg'%});
        background-size: 100%;">
        <nav class="nav side-bar bg-transparent col-2 column">
            <img src="{% static 'classcoll/images/logo.png'%}" width="70">
            <a style="font-size: 28px;" class="navbar-brand" href="#">Classical Collection</a>
          
            <div>
              <ul class="navbar-nav mr-auto">
                
                <li class="nav-item">
                  <a style="font-size: 20px;" class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                {% if user.is_authenticated %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'logout' %}">Favorite</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'logout' %}">Composer</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'logout' %}">Works</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                  </li>
                {% else %}
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'login' %}">Log In</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'register' %}">Register</a>
                  </li>
                {% endif %}
                <li class="nav-item" style="min-height: 700px;"/>
              </ul>
            </div>
          </nav>
        
        <div class="body col-10">
            {% block body %}
            {% endblock %}
        </div>
      </div>
    </body>
</html>