{% extends 'classcoll/layout.html' %}
{% load static %}

{% block body %}
    <div class="bg-light my-background">
        <button id="showInfo" class="btn btn-info">Information</button>
        <button id="showComment" class="btn btn-info">Comments</button>
        <br>
        <br>
        <div id="pieceInfo">
            <h2>{{piece.name}}<h2>
            <h5><a href="{% url 'composer' piece.composer.name%}">{{piece.composer.name}}</a></h5>
            {% include 'classcoll/audiocontrols.html' %}
            <p>{{piece.description}}</p>
            <br>
            <p>Musical period: <a href="{% url 'period' piece.period.era %}">{{ piece.period.era }}</a></p>
            <p>Difficulty level (if applicable): <a href="{% url 'difficulty' piece.difficulty.rating %}">{{ piece.difficulty.rating }}</a></p>
            {% if user.is_authenticated %}
                <button data-value="{{piece.id}}" id="favoritePiece" class="btn btn-info bi bi-star-fill">
                    {% if piece in favorite %}
                        Remove from Favorite 
                    {% else %}
                        Add to Favorite 
                    {% endif %}
                </button>
            {% endif %}
        </div>

        <div id="commentSection" style="display: none;">
            <h4>Comments:</h4>
            <form method="POST" id="commentForm" data-value="{{piece.id}}" >
                {% csrf_token %}
                <div class="form-floating">
                    <textarea placeholder="Write something..." id="comment" class="form-control" required name="comment"></textarea>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
            <br>
            <div>
                {% for comment in comments %}
                    <div style="border: 1px black solid; margin: 10px;">
                        <div style="margin: 10px;"> 
                            <i>Posted by {{comment.user.username}} at {{comment.time}}</i>
                            <p id="contentHolder"> {{comment.content}} </p>
                            <p> 
                                <span id="upvoteCount">{{ comment.upvotes }}</span>
                                <span id="upvote" data-value="{{comment.id}}">
                                    {% if comment not in upvotes %}
                                        <i class="bi bi-hand-thumbs-up"></i>
                                    {% else %}
                                        <i class="bi bi-hand-thumbs-up-fill"></i>
                                    {% endif %}
                                </span>
                            </p>
                            {% if comment.user == user %}
                                <button id="edit" class="btn btn-warning bi bi-pen"></button>
                                <button id="delete" data-value="{{comment.id}}" class="btn btn-danger bi bi-trash"></button>

                                <form style="display: none;" method="POST" id="commentEdit" data-value="{{comment.id}}" >
                                    {% csrf_token %}
                                    <div class="form-floating">
                                        <textarea id="newComment" class="form-control" required name="comment">
                                            {{comment.content}}
                                        </textarea>
                                        <button class="btn btn-primary" type="submit">Submit</button>
                                        <button id="cancel" class="btn btn-secondary">Cancel</button>
                                    </div>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}

                {% include 'classcoll/pagination.html' with list=comments %}
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'classcoll/js/piece.js' %}"></script>
    <script src="{% static 'classcoll/js/audiocontrol.js' %}"></script>
{% endblock %}