{% extends "classcoll/layout.html" %}
{% load static %}

{% block body %}
    <div class="bg-light" style="opacity: 0.8">
        <h4 style="color: blue;">Upload</h4>
        <form method="POST", enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="document" accept=".mp3">
            <button type="submit">Upload</button>
        </form>

        {% if uploaded %}
            <audio controls>
                <source src="{{source}}" type="audio/mpeg">
            </audio>
        {% endif %}
    </div>
{% endblock %}