i:hover {
    cursor: pointer;
}

img:hover {
    cursor: pointer;
}

.my-background {
    opacity: 0.8;
    padding: 10px;
}

.center-width {
    display: flex;
    justify-content: center;
}

.center-height {
    display: flex;
    align-items: center;
    height: 600px;
}

.solid-border {
    border: 2px solid black;
}

.auth-form {
    width: 600px;
}